
{% extends 'home_templates/base.html' %}
{% load static %}


{% block about_page %}

<!-- about section start -->

      <div class="about_section layout_padding">


         <div class="container">
               {%  for about_page in about %}

            <div class="about_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_2"><img src="{{about_page.about_img.url}}"></div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="about_taital">{{ about_page.content}}</h1>
                     <p class="about_text">{{ about_page.text|truncatechars:100 }}</p>
                     <div class="readmore_bt"><a href="{{about_page.get_absalute_url_about_page}}">Ətraflı</a></div>
                  </div>
               </div>

                {% endfor %}
            </div>

         </div>



      </div>
<!-- about section end -->


    <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                <div class="counter-icon">
                    <img src="{% static 'home_static/images/logo_94x44.png' %}">
                </div>
                <span class="counter-value">1963</span>
                <h3>Parket Çeşidi</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <div class="counter-icon">
                      <img src="{% static 'home_static/images/logo_94x44.png' %}">
                </div>
                <span class="counter-value">1854</span>
                <h3>Tamamlanmış Lahiyə</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                <div class="counter-icon">
                     <img src="{% static 'home_static/images/logo_94x44.png' %}">
                </div>
                <span class="counter-value">1963</span>
                <h3>Xidmətlərimiz</h3>
            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <div class="counter-icon">
                     <img src="{% static 'home_static/images/logo_94x44.png' %}">
                </div>
                <span class="counter-value">1854</span>
                <h3>20 il Təcrübə</h3>
            </div>
        </div>
    </div>
</div>
    <br>


{% endblock %}