{% extends 'home_templates/base.html' %}
{% load static %}

{% block contact %}
    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-6">
                        {% if messages %}
                            {% for mesages in messages %}
                                <div class="alert alert-primary" role="alert">
                                    {{ mesages }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="mail_section_1">
                            <form action="{% url 'contact' %}" method="post">

                                {% csrf_token %}
                                <h1 class="contact_taital">Bizə Məktub Yazın</h1>
                                {{ form.name }}
                                {{ form.email }}
                                {{ form.phone }}
                                {{ form.text }}
                                <div class="send_bt">
                                    <button type="submit" class="btn btn-danger">Gonder</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="map_main">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=40.40490544048005, 49.862944976607324"
                                        width="600" height="360" frameborder="0" style="border:0; width: 100%;"
                                        allowfullscreen="">

                                </iframe>
                            </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->

{% endblock %}