{% load static %}


<!-- footer section start -->
<div class="footer_section">

    <div class="container">

        <div class="text-left icon-text-color='white'">

            <ul>
                <li><img src="{% static 'home_static/images/map-icon.png' %}"><span class="padding_left_10"><a href="#"
                                                                                                               ,
                                                                                                               class="text-white "
                                                                                                               , p-md-1> Bakı şəhəri,
                       Nəriman Nərimanov rayonu,
                       Həsən Əliyev küçəsi 87.
                       Diamon klinikasının yanı</a></span></li>
                <br>
                <li><img src="{% static 'home_static/images/call-icon.png' %}"><span class="padding_left_10"><a href="#"
                                                                                                                ,
                                                                                                                class="text-white ">Call :0773701393</a></span>
                </li>
                <br>
                <li><img src="{% static 'home_static/images/mail-icon.png' %}"><span class="padding_left_10"><a href="#"
                                                                                                                ,
                                                                                                                class="text-white ">info@goldparket.az</a></span>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h2 class="useful_text">Kecid </h2>
                <div class="footer_menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                        <li><a href="{% url 'about' %}">Haqqımızda</a></li>
                        <li><a href="{% url 'shop' %}">Məhsullarımız</a></li>
                        <li><a href="{% url 'contact' %}">Əlaqə</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h2 class="useful_text">Repair</h2>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscinaliqua Loreadipiscing </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h2 class="useful_text">Social Şəbəkərimiz</h2>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn active" href="#"></a>
                    <a class="twitterBtn smGlobalBtn" href="#"></a>
                    <a class="googleplusBtn smGlobalBtn" href="#"></a>
                    <a class="linkedinBtn smGlobalBtn" href="#"></a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h1 class="useful_text">Our Repair center</h1>
                <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscinaliquaLoreadipiscing </p>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <img src="{% static 'home_static/images/logo_105x65.png' %}" class="rounded" alt="...">
    </div>
</div>


<!-- footer section end -->