{% extends 'home_templates/base.html' %}
{% load static %}


{% block index_page %}
    <div class="caption">
        <marquee style="font-size: 20px; color: black"><b>20 ildən artıq təcrübəmizlə bütün növ parketlər ...</b></marquee>
	</div>

  <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for cars in carusel %}

               <div class="carousel-item {% if forloop.counter0 == 0 %}active {% endif %}">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">{{ cars.content }}</h1>
                           <p class="banner_text">{{ cars.text }} </p>
                           <div class="btn_main">

                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="{{cars.carusel_img.url}}"></div>
                        </div>
                     </div>
                  </div>
               </div>

                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i style="font-style: initial;"><<</i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i style="font-style: initial;">>></i>
            </a>
         </div>
      </div>
      <!-- banner section end -->
<div class="caption">
        <marquee style="font-size: 20px; color: black"><b>Mehsul Çeşidlərimizdən Faydalanın...</b></marquee>
	</div>
 <div class="container">
    <div class="row">
         {% for cats in category %}
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                {% comment %}
                <a href="{{ cats.get_absalute_url_category }}">
                {% endcomment %}
                <div class="counter-icon">
                    <img src="{% static 'home_static/images/logo_94x44.png' %}">
                </div>
                <span class="counter-value"></span>
                <a href="{% url 'category' cats.pk %}"><h3>{{ cats.name }}</h3></a>
                </a>
            </div>
        </div>
        {% endfor %}



    </div>
</div>


    <!-- testimonial section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">

            </div>
         </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text" align="center"> <span class="quick_icon"><img src="{% static 'home_static/images/logo_94x44.png' %}"></span></h4>
                             <h2 align="center"><b>Bizim Parketlerin esas ustunlukleri</b></h2>
                             <div class="collapse" id="collapseExample">


                               </div>
                                      {% for rekl in reklam %}

                                       <div class="form-check form-switch p-md-2">
                                          <img src="{% static 'home_static/images/logo1x44.png'%}"
                                           <label class="form-check-label" for="flexSwitchCheckChecked"><b>  >{{rekl.content}}</b></label>
                                       </div>
                                        {% endfor %}


                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>



        </div>
      </div>
         <section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="{% static 'home_static/images/imagesr.jpg' %}"
                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <h3>
                Keyfiyyətli Parketlərimizlə Məkaninizi Gözəlləşdirin.
              </h3>
                <br>
                <button type="button" class="btn btn-danger">Qiymet Teklifi al</button>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
     </div>
      <!-- testimonial section end -->





{% endblock %}

