{% extends 'home_templates/base.html' %}
{% load static %}

{%  block shop_page_all %}
      <!--  design section start -->
      <div class="design_section layout_padding">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active ">
                  <div class="container">
                     <h1 class="design_taital">Mehsullarimiz</h1>
                     <p class="design_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteratio</p>
                     <div class="design_section_2">
                        <div class="row">
                              {% for shop_page in shop %}
                           <div class="col-md-3 p-2">

                              <div class="box_main">

                                 <p class="chair_text">{{ shop_page.name }}</p>
                                  <div class="image_3" href="#"><a href="{{shop_page.get_absalute_url_shop_page_one}}"><img src="{{shop_page.shop_img.url}}"></a></div>
                                  {% comment %}
                                 <p class="chair_text">Price $100</p>
                                 <div class="buy_bt"><a href="#">Buy Now</a></div>
                                 {% endcomment %}

                               </div>


                            </div>
                              {% endfor %}
                        </div>

                     </div>

                  </div>
               </div>


            </div>

         </div>
         <div class="container">

         </div>
      </div>
      <!--  design section end -->




{% endblock %}